@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #e771df, #ff7bba, #8a7aff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* font-family: "VT323", monospace; */
  font-family: "Press Start 2P", cursive;
  color: #fff;
  user-select: none;
  padding: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1rem 2fr 2fr;
}
.header {
  font-size: 4rem;
  text-align: center;
  /* color: #8a7aff;
  text-shadow: 5px 5px #ffde8f; */
  /* color: #fff; */
  padding: 1rem;
  grid-row: 1;
  grid-column: 1;
  align-self: end;
}
.display {
  grid-row: 2 / span 2;
  grid-column: 1;
  align-self: start;
  justify-self: center;
  width: 90vmin;
  height: 10vmin;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
}
.display > div {
  border: 5px solid white;
  padding: 0.5rem;
  font-size: 0.8rem;
}
.active-player {
  background-color: #fff;
  color: #ff7bba;
}
.display__player {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.display__player-header {
  grid-column: span 2;
}
.switch {
  border: 2px solid white;
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch.selected {
  background-color: #fff;
  color: #ff7bba;
}
.switch:not(.selected) {
  color: #fff;
}
.container {
  grid-row: 3 / span 2;
  grid-column: 1;
  align-self: start;
  justify-self: center;
  height: 80vmin;
  max-height: 600px;
  width: 80vmin;
  max-width: 600px;
  background-image: linear-gradient(to bottom, #ffde8f, #ff9798);
  border: 10px solid #8a7aff;
  transform: perspective(1000px) rotateX(60deg);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.cell {
  border: 1px solid #8a7aff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vmin;
  color: #e771df;
}
.cell:active {
  box-shadow: 0 0 0 3px #8a7aff inset;
}
.footer {
  grid-row: -2/-1;
  grid-column: 1;
  align-self: end;
  justify-self: center;
}
