@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #e771df, #ff7bba, #8a7aff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* font-family: "VT323", monospace; */
  font-family: "Press Start 2P", cursive;
  color: #fff;
  user-select: none;
}
.header {
  font-size: 4rem;
  /* color: #8a7aff;
  text-shadow: 5px 5px #ffde8f; */
  /* color: #fff; */
  padding: 1rem;
}
.container {
  height: 80vmin;
  max-height: 600px;
  width: 80vmin;
  max-width: 600px;
  background-image: linear-gradient(to bottom, #ffde8f, #ff9798);
  border: 10px solid #8a7aff;
  transform: perspective(1000px) rotateX(60deg);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.cell {
  border: 1px solid #8a7aff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vmin;
  color: #e771df;
}
.cell:active {
  box-shadow: 0 0 0 3px #8a7aff inset;
}
